<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Fragma Data </title>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/app.css" />
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <span style="padding:10px;display:inline;">
            <img style="display:inline;width=50px;height=50px" class="img-responsive" src="images/fds.png"/>
        </span>
            &nbsp;
            <span style="position:absolute;left:40%;display:inline;font-size:17px;font-weight:bold;text-align:center">
            Fragma Data Systems<br/>
            Advanced Analytics
        </span>
    </nav>

    <div class="container">
        <div class="jumbotron login-jumbotron" style="background:white">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            <div class="container">
                                <form th:action="@{/login}" method="post">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="username"> User Name : </label>
                                            <input type="text" name="username" id="username" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="password"> Password: </label>
                                            <input type="password" name="password" id="password" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <h3 style="color:red">
                                            <span th:if="${param.error}">
                                            Invalid username and password.
                                            </span>
                                            <span th:if="${param.logout}">
                                                You have been logged out.
                                            </span>
                                        </h3>
                                    </div>
                                    <div class="row text-center">
                                        <input type="submit" class="btn btn-primary" value="Sign In"/>
                                    </div>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
